/* GLOBAL */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Maitree";
  width: 100%;
  height: 100vh;
  color: #030c17;
  background-color: white;
  font-size: 16px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

img {
  object-fit: cover;
  display: block;
  backface-visibility: hidden;
}

figure {
  margin: 0px;
}

.image-border {
  box-sizing: border-box;
  border: 1px solid rgba(1, 17, 24, 0.05);
}

.fit-width {
  width: 100%;
  display: block;
}

.fit-parent {
  width: 100%;
  height: 100%;
}

.fit-height {
  height: 100%;
}

.transition-subtle {
  -webkit-transition: linear 0.2s;
  -moz-transition: linear 0.2s;
  transition: linear 0.2s;
}

.transition-elastic {
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s;
  -moz-transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s;
}

.transition-friction {
  -webkit-transition: cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  -moz-transition: cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  transition: cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

.transition-whoosh {
  -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
  -moz-transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.mobile {
  display: none;
}

/* GRID AND LAYOUT */

.column {
  padding: 0px 8px;
  box-sizing: border-box;
  float: left;
  min-height: 1px;
}

.column:first-child {
  padding-left: 0px;
}

.column:last-child {
  padding-right: 0px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.67%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.67%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.67%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.67%;
}

.col-12 {
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0px auto;
  position: relative;
}

.fit-parent {
  width: 100%;
  height: 100%;
}

.clearfix::after {
  clear: both;
  display: block;
  content: "";
}

.flex {
  display: flex;
}

.vertical {
  align-items: center;
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  margin: 0px;
}

h1 {
  font-size: 6em;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 3em;
  letter-spacing: -0.05em;
}

h3 {
  font-size: 2em;
  letter-spacing: -0.0275em;
}

h4 {
  font-size: 1.5em;
  letter-spacing: -0.025em;
}

h5 {
  font-size: 0.688rem;
  line-height: 145.45%;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  opacity: 0.5;
}

h6 {
  font-size: 12px;
}

p {
  font-size: 18px;
  opacity: 1;
  line-height: 36px;
  letter-spacing: 0px;
}

p:last-child {
  margin-bottom: 0px;
}

.bold {
  font-weight: 600;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.serif {
  font-family: "Tiempos Text", serif;
}

/* SPACINGS */
.xxl-bottom {
  margin-bottom: 112px;
}

.xl-bottom {
  margin-bottom: 80px;
}

.xl-pad-bottom {
  padding-bottom: 80px;
}

.l-bottom {
  margin-bottom: 45px;
}

.xm-bottom {
  margin-bottom: 48px;
}

.xm-pad-bottom {
  padding-bottom: 48px;
}

.m-bottom {
  margin-bottom: 32px;
}

.s-bottom {
  margin-bottom: 24px;
}

.ss-bottom {
  margin-bottom: 16px;
}

.xs-bottom {
  margin-bottom: 8px;
}

.super-top {
  margin-top: 184px;
}

.super-bottom {
  margin-bottom: 184px;
}

.xxl-top {
  padding-top: 112px;
}

.xxl-top-space {
  margin-top: 112px;
}

.xl-top {
  padding-top: 80px;
}

.l-top {
  padding-top: 56px;
}

.s-top {
  margin-top: 16px;
}

.xs-top {
  margin-top: 8px;
}

.m-top {
  margin-top: 32px;
}

.xm-top {
  margin-top: 48px;
}

.s-left {
  margin-left: 16px;
}

.xs-left {
  margin-left: 8px;
}

.xl-left {
  margin-left: 80px;
}

.xl-right {
  margin-right: 80px;
}

.m-right {
  margin-right: 32px;
}

.l-right {
  margin-right: 50px;
}

.m-left {
  margin-left: 32px;
}

.xxl-pad {
  padding: 112px 0;
}

.hyp-pad {
  padding: 96px;
}

.s-pad {
  padding: 24px;
}

.m-pad {
  padding: 32px;
}

.m-pad-around {
  padding-left: 32px;
  padding-right: 32px;
}

.s-pad-around {
  padding: 16px;
}

.l-pad {
  padding: 0 0 56px 0;
}

/* COLORS */

.gray {
  opacity: 0.5;
}

.white {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.classic-black {
  color: #030c17;
}

.original-blue {
  color: #368ef5;
}

.very-dark {
  background-color: #020408;
}

.label-dark {
  color: #23354a;
}

.half-black {
  color: #485b70;
}

.caption-dark {
  color: #748291;
}

/* BUTTONS */

.home-header-button li {
  float: left;
  padding-right: 10px;
  margin: 30px 0 0 0;
  list-style-type: none;
  animation: 1s ease-in-out 0s 1 slideDown;
}

.button {
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  padding: 14px 32px;
  color: #23354a;
  background-color: white;
  font-size: 1em;
  text-align: center;
  display: block;
  font-family: inherit;
}

.home-email-button {
  color: green;
  border: 1px solid green;
  transition: ease 0.4s;
  animation: 1s ease-in-out 0s 1 slideDown;
}

.home-email-button:hover {
  color: white;
  background-color: green;
}

.home-work-button {
  cursor: pointer;
  float: left;
  font-size: 0.85em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background: white;
  color: black;
  border-radius: 10px;
  font-weight: bold;
  font-family: inherit;
  position: relative;
  animation: 1s ease-in-out 0s 1 slideDown;
}

.home-work-button:hover {
  color: #368ef5;
  transition: ease 0.3s;
}

.home-work-button::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  background: #368ef5;
  transform: scaleX(0);
  height: 3px;
  transform-origin: center right;
  transition: transform cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}

.home-work-button:hover::before {
  transform: scaleX(1);
  transform-origin: center left;
}

.nav-email-button {
  color: white;
}

/* TOPBAR */
.topbar-logo {
  width: 50px;
  height: 50px;
  display: block;
  float: left;
}

.topbar {
  position: relative;
  padding: 32px 32px 0px;
}

.topbar-menu {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 999999;
}

.topbar-menu::before {
  width: 24px;
  height: 2px;
  background: #011118;
  content: "";
  position: absolute;
  top: 7px;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.topbar-menu::after {
  width: 24px;
  height: 2px;
  background: #011118;
  content: "";
  position: absolute;
  bottom: 7px;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.topbar-menu-light::before {
  background: #fff !important;
}

.topbar-menu-light::after {
  background: #fff !important;
}

.content {
  margin-top: 200px;
}

/* HOME */
.home-header-intro {
  padding-right: 75px;
  padding-left: 140px;
}

.home-header-name {
  font-size: 4rem;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -0.3px;
  font-family: Maitree;
  animation: 2.5s ease-in-out 0s 1 slideDown;
  padding-right: 100px;
  padding-bottom: 20px;
}

.home-header-description {
  font-size: 1.5rem;
  opacity: 1;
  line-height: 133.33%;
  font-weight: 300;
  letter-spacing: 0.3px;
  animation: 2s ease-in-out 0s 1 slideDown;
  padding-right: 100px;
  padding-bottom: 30px;
}

@keyframes slideDown {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.home-header-description strong {
  font-style: italic;
  font-weight: normal;
}

.home-header-arrow-wrap {
  cursor: pointer;
  position: absolute;
  display: block;
  background-color: white;
  height: 140px;
  width: 140px;
  left: 0%;
}

.home-header-arrow {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 15px);
}

.home-header-arrow span {
  position: relative;
  display: block;
  opacity: 0;
  width: 30px;
  height: 30px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  transform-origin: center center;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: arrowSlide 2.5s 1.5s infinite;
  animation: arrowSlide 2.5s 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes arrowSlide {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes arrowSlide {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.home-header-hero-cover {
  margin-top: 150px;
  position: relative;
}

.home-header-hero {
  display: block;
  width: 100%;
  background-color: #f0f0f0;
  overflow-x: hidden;
  transition: background-color 0.5s ease;
  padding-left: 140px;
}

.home-header-welcome {
  background: #f0f0f0;
  position: relative;
  padding: 200px 0 200px 140px;
  overflow: auto;
}

.home-header-welcome p {
  max-width: 1075px;
  float: left;
  opacity: 1;
  color: black;
  font-weight: 300;
  font-size: 34px;
  line-height: 60px;
  font-family: Maitree, serif;
  padding: 0 100px 0 100px;
}

.home-header-welcome p:first-of-type {
  margin-bottom: 10px;
}

.home-header-welcome a {
  font-size: 20px;
  font-weight: 300;
  float: left;
  margin: 50px 100px 0 100px;
}

.home-header-welcome a:hover {
  color: #368ef5;
  transition: 0.25s ease-in-out;
}

.home-section-title {
  position: absolute;
  top: 100px;
  left: 0;
  width: 140px;
}

.home-section-title-wrap {
  transform: rotate(-90deg) translateX(60px);
}

.home-section-title-label {
  position: relative;
  font-size: 13px;
  color: black;
  padding-right: 20px;
  display: inline-block;
}

.home-section-title-wrap::after {
  background: currentColor;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  right: 35%;
  top: 10px;
  width: 25px;
}

.home-featured {
  padding: 0px 0px 100px 140px;
  background: #f0f0f0;
  position: relative;
}

.home-featured-title {
  font-family: Maitree;
  font-size: 3em;
  padding-top: 50px;
}

.home-featured-item {
  padding-bottom: 100px;
}

.home-featured-item:last-child {
  margin-bottom: 0px;
}

.home-featured-item-content {
  position: relative;
  flex: 0 0 41.67%;
}

.home-feature-item-title {
  margin-bottom: 8px;
}

.home-featured-item-caption {
  margin-bottom: 16px;
  color: #368ef5;
  opacity: 0.9;
}

.home-featured-item-metadata {
  color: rgba(1, 17, 24, 0.5);
  position: relative;
  margin-bottom: 40px;
}

.home-featured-item-description {
  bottom: 0px;
  position: relative;
  right: 0px;
}

.home-featured-item-description p {
  margin: 0px;
  margin-bottom: 16px;
  opacity: 0.5;
}

.home-featured-item-thumbnail {
  cursor: pointer;
  position: relative;
}

/* .home-featured-item-thumbnail:hover {
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
  transition: ease-in-out 0.5s;
}

.home-featured-item-thumbnail:not(:hover) {
  transform: scale(1);
  transition: ease-in-out 0.5s;
} */

a.home-feature-item-link {
  margin-top: 30px;
  transition: ease 0.2s;
}

a.home-feature-item-link:hover {
  color: #368ef5;
  transition: ease-in-out 0.3s;
}

/* ABOUT */
.about {
  /* background-color: #020408; */
  background: #555657;
  color: white;
}

.about-content {
  font-weight: 400;
  padding-top: 80px;
  padding-bottom: 80px;
  color: white;
}

.about-description {
  margin-bottom: 48px;
}

.link {
  position: relative;
}

.tab-full {
  width: 100% !important;
}

.link:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0%;
  width: 0;
  height: 2px;
  background-color: #368ef5;
  transform-origin: left;
  transition: width 0.25s ease;
}

.link:hover::after {
  width: 100%;
}

.about .link {
  color: white;
  transition: width 0.25s ease;
}

.about .link:after {
  width: 100%;
  background-color: white;
  height: 1px;
}

.about .link:hover::after {
  width: 0;
}

/* CLIPBOARD */
.clipboard-button {
  position: relative;
  font-size: 0.85em;
  border: 0px #000000;
  color: #23354a;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-family: inherit;
}

.clipboard-button:focus {
  outline: 0;
}

.clipboard-caption {
  position: absolute;
  text-align: left;
  width: 320px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  font-weight: 400;
  transform: translateY(-8px);
  visibility: hidden;
  text-transform: none;
}

.clipboard-caption-active {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

/* WORK */
.work {
  margin: 0 auto;
  max-width: 1000px;
}

/* NAVIGATION */
.work-nav-active .topbar-menu::before {
  transform: rotate(45deg);
}

.work-nav-active .topbar-menu::after {
  transform: rotate(-45deg);
  top: 7px;
}

.work-nav {
  position: fixed;
  width: 100%;
  height: 100%;
}

.work-nav .container {
  padding-top: 120px;
  height: calc(100% - 120px);
}

.work-nav-logo {
  width: 50px;
  height: 50px;
  display: block;
  top: 32px;
  left: 32px;
  position: absolute;
}

.work-nav-header {
  opacity: 0.5;
  margin-bottom: 24px;
  line-height: 20px;
}

.work-nav-item-featured-title {
  margin-bottom: 8px;
}

.work-nav-item-featured-caption {
  opacity: 0.25;
  line-height: 24px;
}

.work-nav-item {
  padding-bottom: 24px;
  cursor: pointer;
  display: block;
  font-size: 24px;
  font-weight: 700;
}

.work-nav-link {
  position: absolute;
  bottom: 48px;
  opacity: 1;
}

.work-nav-link-item {
  float: left;
  color: black;
  margin-right: 36px;
  position: relative;
  cursor: pointer;
}

.work-nav-link-item::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0%;
  width: 0;
  height: 2px;
  background-color: #368ef5;
  transform-origin: left;
  transition: width 0.25s ease;
}

.work-nav-link-item:hover::after {
  width: 100%;
  transition: width 0.25s ease;
}

.nav-social-links {
  position: absolute;
  bottom: 5%;
  left: 10%;
}

.nav-social-links-item {
  float: left;
  margin-right: 36px;
  position: relative;
  cursor: pointer;
}

.nav-project-titles li {
  margin-bottom: 10px;
  margin-left: 20px;
}

/* FOOTER */
.prefooter {
  background: #ffffff;
  position: relative;
  padding-left: 140px;
}

.prefooter-content {
  background: #f0f0f0;
  position: relative;
  color: black;
  z-index: 2;
}

.prefooter-padding {
  height: 140px;
  background: #f0f0f0;
}

.prefooter-quote {
  padding: 50px 100px 50px 100px;
  display: block;
  font-family: Maitree;
  font-size: 1.5em;
}

.footer {
  margin-top: -140px;
  position: relative;
  display: block;
  z-index: 2;
  padding-left: 140px;
  color: white;
}

.footer::before {
  content: "";
  display: block;
  position: absolute;
  top: 140px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #3f4041;
  z-index: 0;
}

.footer-about {
  position: relative;
  background-color: #555657;
  min-height: 400px;
  padding: 95px 100px 50px 100px;
  z-index: 1;
}

.footer-about h3 {
  margin-bottom: 30px;
}

.footer-about p:first-of-type {
  margin-bottom: 10px;
}

.footer-about p {
  font-size: 1.3em;
  line-height: 2em;
  margin-bottom: 45px;
  opacity: 0.8;
}

.footer-bottom {
  height: 140px;
  padding-right: 70px;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.footer-email-button {
  transition: ease 0.4s;
}

.footer-email-button:hover {
  color: white;
  background: green;
}

.footer-bottom-logo {
  position: absolute;
  z-index: 1;
  bottom: 140px;
  left: 50px;
}

.footer-logo {
  height: 50px;
  width: 50px;
}

.footer-social-icon {
  margin-left: 20px;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer-social-icon svg {
  height: 20px;
  width: 20px;
  position: relative;
  z-index: 1;
  fill: white;
  overflow: hidden;
}
